<div id="createDialogchangPwd" class="crudDialog">
    <form id="createDialogchangPwdForm" name="createDialogchangPwdForm" class="form-horizontal">
        <div class="form-group">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label">用户账号</label>
            <div class="col-lg-8 col-sm-8 col-md-8">
                <div class="form-group">
                    <input type="text" class="form-control" name="username" value="" id="username" readonly>
                </div>
            </div>
        </div>
        <div class="form-group errorChg">
            <label class="col-lg-3 col-md-3 col-sm-3  control-label">新密码</label>
            <div class="col-lg-8 col-sm-8 col-md-8">
                <div class="input-group ">
                    <input type="password" class="form-control" name="newPwd" placeholder="请输入新密码" />
                    <span class="input-group-addon openOrClose"><i class="zmdi zmdi-eye-off"></i></span>
                </div>
            </div>
        </div>
        <div class="form-group errorChg">
            <label class="col-lg-3 col-md-3 col-sm-3  control-label">确认新密码</label>
            <div class="col-lg-8 col-sm-8 col-md-8">
                <div class="input-group">
                    <input type="password" class="form-control" name="confirmNewPwd" placeholder="请输入新密码" />
                    <span class="input-group-addon openOrClose"><i class="zmdi zmdi-eye-off"></i></span>
                </div>
    </form>
</div>