<div id="createDialog" class="crudDialog">
    <form id="defaultForm" name="defaultForm" class="form-horizontal">
        <div class="form-group">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label">用户账号</label>
            <div class="col-lg-8 col-sm-8 col-md-8">
                <div class="form-group">
                    <input type="text" class="form-control" name="username" value="" id="username">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label">真实姓名</label>
            <div class="col-lg-8 col-sm-8 col-md-8">
                <div class="form-group">
                    <input type="text" class="form-control" name="realName" value="" id="realName">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label">描述信息</label>
            <div class="col-lg-8 col-sm-8 col-md-8">
                <div class="form-group">
                    <input type="text" class="form-control" name="description" value="" id="description">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 col-md-3 col-sm-3 control-label">手机号码</label>
            <div class="col-lg-8 col-sm-8 col-md-8">
                <div class="form-group">
                    <input type="text" class="form-control" name="phoneNumber" value="" id="phoneNumber">
                </div>
            </div>
        </div>
    </form>
</div>